<h1>FAQ Page</h1>
<ul>
  <li>
    <strong>Q: What is the meaning of life?</strong>
    <br>
    A: 42
  </li>
  <li>
    <strong>Q: What is the meaning of death?</strong>
    <br>
    A: 0
  </li>
  <li>
    <strong>Q: What is the meaning of Go?</strong>
    <br>
    A: A programming language
  </li>
</ul>